<meta charset="utf-8">
<section class="row">
	<div class="col ">
		<div class="card">
			<div class="card-header">
				<h2>
					<i class="fas fa-list-ul"></i> List Categories
				</h2>
			</div>
			<div class="card-body">
				<!-- <c:if test="${message != null }">
                <i style="color: gray;">${message }</i>
            </c:if> -->
				<div class="row mt-2 mb-2">
                <div class="col">
                    <form>
                    <div class="form-inline float-left">
                        <label for="name">Name:</label>
                        <input ng-model="searchName" class="form-control ml-2">
                    </div>
                    </form>
                    <div class="float-right">
                        <a class="btn btn-outline-primary" href="#!category">Add New Category</a>
                    </div>
                </div>
            	</div>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="card-body">
									<div class="form-group">
										<label for="categoryId">Category ID:</label>
										<!-- <input type="hidden"/> -->
										<input ng-model="form.categoryId" Class="form-control" />
										<!-- <small style="color: red"><form:errors path="categoryId"></form:errors></small> -->
									</div>
									<div class="form-group">
										<label for="name">Name:</label> <input ng-model="form.name"
											Class="form-control" />
										<!-- <small style="color: red"><form:errors path="name"></form:errors></small> -->
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button ng-click="update()" data-dismiss="modal" class="btn btn-primary">Update</button>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-striped">
					<thead class="thead-inverse">
						<tr>
							<th>Category ID</th>
							<th>Name</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items|limitTo:4:begin|filter:searchName">
							<td scope="row">{{item.categoryId}}</td>
							<td>{{item.name}}</td>
							<td></td>
							<td></td>
							<td></td>
							<td><a href="" class="btn btn-outline-info"><i
									class="fas fa-info"></i></a> &nbsp;
								<button data-toggle="modal" data-target="#exampleModal"
									ng-click="edit(item.categoryId)"
									class="btn btn-outline-warning">
									<i class="fas fa-edit"></i>
								</button> &nbsp; <button ng-click="delete(item.categoryId)" class="btn btn-outline-danger"><i
									class="fas fa-recycle"></i></button></td>
						</tr>
					</tbody>

				</table>
			</div>

		</div>
		<br>
		<div class="d-flex justify-content-center">
		<button ng-click="prev()" type="submit" class="btn btn-primary"><strong>Prev </strong><i class="fas fa-undo pl-2"></i></button> &nbsp;&nbsp;
        <button ng-click="next()" type="submit" class="btn btn-primary"><i class="fas fa-redo pr-2"></i> <strong>Next</strong> </button>
		</div>
		<!-- <div class="d-flex justify-content-center">
        <a class="btn btn-outline-primary" href="/admin/categories?p=0"><i class="fas fa-angle-double-left"></i></a> <a class="btn btn-outline-primary ml-1"
    href="/admin/categories?p=${categories.number-1}"><i class="fas fa-angle-left"></i></a> <a
    class="btn btn-outline-primary ml-1" href="/admin/categories?p=${categories.number+1}"><i class="fas fa-angle-right"></i></a> <a
    class="btn btn-outline-primary ml-1" href="/admin/categories?p=${categories.totalPages-1}"><i class="fas fa-angle-double-right"></i></a>
    </div>  -->
	</div>
</section>

